@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

* {
    text-decoration: none;
    margin: 0;
}

.background {
    background: url(../../../public/assets/home/background-home-desktop.jpg) center no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    gap: 20%;
}

.container {
    width: 450px; 
    color: #ffffff;
}

.container h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 400;
}

.container h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.75px;
    text-transform: uppercase;
    font-weight: 100;
    color: #d0d6f9;
    margin-bottom: 20px;
}

.container p {
    font-family: sans-serif;
    letter-spacing: 0.3px;
    line-height: 1.5;
    font-size: 17px;
    text-align: justify;
    color: #d0d6f9;
    margin-top: 30px;;
}

.button {
    color: #0b0d17;
    font-family: Bellefair, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 50%;
    height: 275px;
    width: 275px;
    text-transform: uppercase;
    cursor: pointer;
}

.button::after {
    content: '';
    position: absolute;
    /* z-index: 0; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    border: 0 solid hsla(0, 0%, 100%, 0.15);
}

.button:hover::after {
    border: 100px solid hsla(0, 0%, 100%, 0.15);
}

/* ________________ desktop ___________________________ */

@media screen and (max-width: 1024px) {
    .content {
        gap: 10%;
    }

    .container {
        width: 350px;
    }

    .container h1 {
        font-size: 120px;
    }

    .container h3 {
        font-size: 20px;
    }

    .button {
        height: 260px;
        width: 260px;
    }
}

/* tablet */
@media screen and (max-width: 768px) {
    .background {
        background: url(../../../public/assets/home/background-home-tablet.jpg) center no-repeat;
        height: 100%;
        width: 100%;
        background-size: cover;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        margin: 40px 0 40px 0;
    }

    .button {
        margin: 50px 50px;
    }
}

/* mobile */
@media screen and (max-width: 425px) {
    .background {
        background: url(../../../public/assets/home/background-home-mobile.jpg) center no-repeat;
        background-size: cover;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    .container h1 {
        font-size: 20vw;
    }

    .container h3 {
        font-size: 5vw;
    }

    .container p {
        font-size: 4vw;
        text-align: center;
    }

    .button {
        height: 220px;
        width: 220px;
        margin: 60px;
    }

    .button::after {
        display: none;
    }
    
    .button:hover::after {
        display: none;
    }
}

