* {
    text-decoration: none;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.nav {
    width: 55vw;
    height: 75px;
    background-color: hsla(0, 0%, 100%, 0.04);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    list-style: none;
    gap: 3vw;
    margin-right: 5%;
}

.content a {
    color: #ffffff;
}

.content li {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;;
    letter-spacing: 3px;
    font-size: 16px;
    position: relative;
    display: block;
    padding-block: 25px;
}

.content span {
    font-weight: bold;
    font-size: 18px;
}

.content a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    right: 0;
    width: 0;
    background-color: hsla(0, 0%, 100%, 0.4);
    transition: 0.3s ease-in-out;
}

.content a:hover::after {
    width: 100%;
    left: 0;
}

.logo {
    height: 45px;
    width: 45px;
    margin-left: 4%;
}

.line {
    height: 1px;
    width: 35%;
    background-color: #d0d6f9;
    z-index: 1;
    margin-right: -90px;
}

/* _______________ desktop _________________________ */

@media screen and (max-width: 1024px) {
    .content {
        gap: 2vw;
    }

    .content span {
        display: none;
    }
}

/* _______________ tablet _________________________ */

@media screen and (max-width: 768px) {
    .line {
        display: none;
    }

    .content {
        margin-right: 30px;
    }

    .content li {
        font-size: 2vw;
    }

}

/* _____________ mobile __________________________ */

@media screen and (max-width: 425px) {
    .nav {
        display: none;
    }
}

