.bkg {
    background: url(../../../public/assets/destination/background-destination-desktop.jpg) center no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.dest {
    /* width: 40%; */
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 26px;
    letter-spacing: 4.72px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.dest h4 {
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 50px;

}

.dest span {
    color: hsla(0, 0%, 100%, 0.4);
    font-weight: 800;
    font-size: 30px;
    margin-right: 3%;
}

.dest img {
    width: 370px;
    height: 370px;
    margin-left: 50px;
}

.info {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.info h1 {
    font-family: 'Bellefair', serif;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
    margin-top: 15px;
}

.info p {
    width: 80%;
    font-family: sans-serif;
    letter-spacing: 0.3px;
    line-height: 2;
    font-size: 16px;
    color: #d0d6f9;
    margin-top: 10px;
}

.info ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 3%;
}

.info button {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;;
    letter-spacing: 3px;
    font-size: 16px;
    position: relative;
    display: block;
    padding-block: 15px;
    color: hsla(0, 0%, 100%, 0.7);
    border: none;
    background: none;
}

.info button::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    right: 0;
    width: 0;
    background-color: hsla(0, 0%, 100%, 0.4);
    transition: 0.3s ease-in-out;
}

.info button:hover::after {
    width: 100%;
    left: 0;
}

.info span {
    display: flex;
    height: 1px;
    width: 85%;    
    background-color: hsla(0, 0%, 100%, 0.4);
    margin: 30px 0 20px 0;
}

.data {
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.data h4 {
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-size: 28px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 1px;
}

.data h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.35px;
    color: hsla(0, 0%, 100%, 0.5);
    font-weight: 100;
    margin-bottom: 10px;
}
