.bkg {
    background: url(../../../public/assets/destination/background-destination-desktop.jpg) center no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.dest {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 26px;
    letter-spacing: 4.72px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.dest h4 {
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 50px;
}

.dest span {
    color: hsla(0, 0%, 100%, 0.4);
    font-weight: 800;
    font-size: 30px;
    margin-right: 3%;
}

.dest img {
    width: 370px;
    height: 370px;
    margin-left: 50px;
}

.info {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.info h1 {
    font-family: 'Bellefair', serif;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 300;
    color: #ffffff;
    margin-top: 15px;
}

.info p {
    width: 80%;
    font-family: sans-serif;
    letter-spacing: 0.3px;
    line-height: 2;
    font-size: 16px;
    color: #d0d6f9;
    margin-top: 10px;
}

.info ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 3%;
}

.info button {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;;
    letter-spacing: 3px;
    font-size: 16px;
    position: relative;
    display: block;
    padding-block: 15px;
    color: hsla(0, 0%, 100%, 0.7);
    border: none;
    background: none;
}

.info button::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    right: 0;
    width: 0;
    background-color: hsla(0, 0%, 100%, 0.4);
    transition: 0.3s ease-in-out;
}

.info button:hover::after {
    width: 100%;
    left: 0;
}

.info span {
    display: flex;
    height: 1px;
    width: 85%;    
    background-color: hsla(0, 0%, 100%, 0.4);
    margin: 30px 0 20px 0;
}

.data {
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.data h4 {
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-size: 28px;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: 1px;
}

.data h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.35px;
    color: hsla(0, 0%, 100%, 0.5);
    font-weight: 100;
    margin-bottom: 10px;
}

/* ________________ desktop ___________________________ */

@media screen and (max-width: 1024px) {
    .dest img {
        width: 300px;
        height: 300px;
        margin-left: 35px;
    }

    .dest {
        font-size: 20px;
        letter-spacing: 4.60px;
        margin-bottom: 30px;
    }

    .dest span {
        font-size: 27px;
    }

    .info h1 {
        font-size: 65px;
        font-weight: 200;
        margin-top: 10px;
    }

    .info span {
        margin-top: 10px;
    }

    .info ul {
        gap: 2%;
    }

    .data h4 {
        font-size: 23px;
    }

    .data h5 {
        font-size: 12px;
    }
}

/* ________________ tablet ___________________________ */

@media screen and (max-width: 768px) {
    .bkg {
        background: url(../../../public/assets/destination/background-destination-tablet.jpg) center no-repeat;
        height: 100%;
        background-size: cover;
    }

    .box {
        justify-content: center;
        flex-direction: column;
    }

    .dest {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 26px;
        margin: 30px 0 0 0;
    }

    .dest h4 {
        margin-left: 40px;
    }

    .dest span {
        font-size: 30px;
    }

    .dest img {
        align-self: center;
        margin: 0;
    }

    .info {
        align-items: center;
        width: 90%;
    }

    .info p {
        letter-spacing: 0.7px;
        line-height: 2;
        font-size: 16px;
        text-align: center;
    }

    .info h1 {
        font-size: 80px;
        margin-top: 20px;
    }

    .info ul {
        gap: 0;
    }

    .info button {
        margin: 10px;
    }

    .info span {
        margin: 50px 0 30px 0;
    }

    .data {
        margin: 30px 0 40px 0;
        width: 100%;
        justify-content: space-evenly;
    }

    .data h4 {
        font-size: 30px;
    }

    .data h5 {
        font-size: 16px;
    }

    .data2 {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
}

/* ________________ mobile ___________________________ */

@media screen and (max-width: 425px) {
    .bkg {
        background: url(../../../public/assets/destination/background-destination-mobile.jpg) center no-repeat;
        height: 100%; 
        background-size: cover;
    }

    .dest h4 {
        margin-left: 0;
        font-size: 20px;
        text-align: center;
    }

    .dest span {
        font-size: 25px;
    }

    .dest img {
        width: 220px;
        height: 220px;
        margin: 0;
    }

    .data {
        flex-direction: column;
        gap: 40px;
    }

    .info {
        width: 100%;
    }

    .info span {
        margin: 30px 0 10px 0;
    }
}